.instructorsHero {
    padding: 5%;
    color: #FFF;
    background-image: url(logo-rooeda.svg);
    background-position: 290% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.studioCopy { padding-top: 30%; }
.instructorAvatar {
  max-width: 50%;
  object-fit: cover;
  border-radius:50%;
}
.instructorCopy {
  padding-top: 10%;
  padding-bottom: 10%;
}
.instructorCopy h1 { 
  padding-top: 5%;
  padding-bottom: 2.5%;
}
.instructorCopy h4 { color: grey; }
.instructorCopy p { padding-bottom: 5%; }
@media screen and (max-width: 66rem) { 
  .instructorsHero { 
    height: auto; 
    padding-left: 0;
    padding-right: 0;
    padding-top: 15%;
    background-position: 290% 0%;
    padding-bottom: 35%;
    background-attachment: unset;
  }
}
@media screen and (max-width: 42rem) {
  .studioHero { 

    padding-bottom: 25%;
    background-position: 200% 15%;
  }
}
