$color-gray-1: #A1A1A1;
$color-gray-2: #555;
$color-gray-3: #888;
$color-white: #FFF;
$black: #000;
$grey: rgb(196, 196, 196);
$color-orange: #FF7300;

.calendarContainer {
    overflow-x: auto;
    white-space: nowrap;
    height: auto;
    padding-top: 10%;
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #FFF;
}

.Box {
    border: 1px solid #777777;
    border-radius: 14pt;
    margin-bottom: 25pt;
    background-color: rgba(57,57,57, 0.60);
    backdrop-filter: saturate(180%) blur(10px);
    transition: .15s ease-in-out;
}
.Box:hover {
    cursor: pointer;
    color: $color-white;
    background-color: $color-orange;
    border-color: $color-orange;
    transform: scale(1.05);
}
.BoxContent {
    position: relative;
    padding: 15pt;
    min-height: 100%;
}
.BoxContentBottom {
    position: absolute;
    bottom: 12pt;
}
.BoxContentBottom p {
    text-align: center;
    font-size: 8pt;
}
.calendarHeader {
    padding-top: 25pt;
    background-color: #555655;
}
.calendarTitle {
    position: relative;
    z-index: 100;
}
.calendarTitle h1 {
    color: #FFF;
    padding-left: 0;
    padding-bottom: 20pt;
    font-weight: 600;
}
.calendarNavigation button { background-color: #555655; }
.bx--btn .bx--btn__icon[data-type='left'] {
    right: 0;
}

.calendarScrolling {
    padding-top: 15pt;
    padding-left: 25pt;
    position: relative; 
}
.calendarDay { 
    padding-bottom: 10pt; 
    font-weight: 600;
}
.calendarDay span { font-weight: 300; }
.calendarTime {
    margin-bottom: 25pt;
    color: gray;
}
.calendarTime h5 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.bx--col-calendar {
    flex: 1 0 12.5%;
    max-width: 50%;
}
@media screen and (max-width: 66rem) {
    .calendarControlArea { width: 100vw; }
    .calendarContainer {
        padding-top: 20%;
        width: 175%;
    }
}
@media screen and (max-width: 42rem) {
    .calendarContainer { 
        padding-top: 30%;
        width: 300%; 
    }
}
