$color-gray-1: #A1A1A1;
$color-gray-2: #555;
$color-gray-3: #888;
$color-white: #FFF;
$black: #000;
$grey: rgb(196, 196, 196);
$color-orange: #FF7300;

.Box {
    border: 1px solid #777777;
    border-radius: 14pt;
    margin-bottom: 25pt;
    background-color: rgba(57,57,57, 0.60);
    transition: .15s ease-in-out;
}
.Box:hover {
    cursor: pointer;
    color: $color-white;
    background-color: $color-orange;
    border-color: $color-orange;
    transform: scale(1.1);
}
.Box:active { transform: scale(1.0); }
.BoxContent {
    position: relative;
    padding: 15pt;
    min-height: 100%;
}
.BoxContentBottom {
    position: absolute;
    bottom: 12pt;
}
.BoxContentBottom p {
    text-align: center;
    font-size: 8pt;
}
.saveButton {
    position: absolute;
    right: 2rem;
}
.deleteButton { margin-left: 12px; }
.calendarTitle {
    position: relative;
    z-index: 100;
}
.calendarTitle h1 {
    color: #FFF;
    padding-left: 0;
    padding-bottom: 20pt;
    font-weight: 600;
}
.calendarNavigation button { background-color: #555655; }
.calendarScrolling { position: relative; }
.bx--btn .bx--btn__icon[data-type='left'] {
    right: 0;
}
.calendarContainer {
    white-space: nowrap;
    height: auto;
    color: #FFF;
}
.calendarControlArea {
    color: #FFF;
    padding-top: 10%;
}

.calendarDay { 
    padding-bottom: 10pt; 
    font-weight: 600;
}
.calendarDay span { font-weight: 300; }
.calendarTime {
    margin-bottom: 25pt;
    color: gray;
}
.calendarTime h5 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.bx--col-calendar {
    flex: 1 0 12.5%;
    max-width: 50%;
}
@media screen and (max-width: 66rem) {
    .calendarContainer { width: 175%; }
    .calendarControlArea { padding-top: 15%; }
}
@media screen and (max-width: 42rem) {
    .calendarContainer { width: 300%; }
    .calendarControlArea { padding-top: 10%; }
}
